[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
beautifulsoup4 = "*"
httpx = "*"
requests-html = "*"

[dev-packages]
uvicorn = "*"
pytest = "*"

[scripts]
start = "uvicorn src.app:app"
test = "pytest tests"

[requires]
python_version = "3.11"
